__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/

.ipynb_checkpoints/
.idea/
.vscode/

build/
dist/
*.egg-info/

logs/
outputs/
runs/
wandb/
checkpoints/
ckpt/
weights/

*.pt
*.pth
*.ckpt
*.bin
*.onnx
*.h5
*.npz

.DS_Store
